@font-face {
  font-family: Samark;
  src: url(./fonts/samarkan.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EFF6FF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #225bef;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}